

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}

/* Style for the table */
table {
  border-collapse: collapse;
  width: 50%;
  margin: 50px auto; /* center the table */
  border: 1px solid #ddd;
}

/* Style for the table headers and cells */
th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* Add a background color to table headers */
th {
  background-color: #f2f2f2;
}


